{% extends 'base.html.twig' %}

{% block title %}
Commande
{% endblock %}

{% block body %}

<div class="row">

   


<div class="col">
        <h1>Adresse de livraison</h1>
        {{form(formLivraison)}}
</div>

</div>

{% if submit == 1 %}
<a href="{{ path('paiement')}}"<button type="button" class="btn btn-primary btn-lg">Suivant</button></a>
{% endif %}


{% endblock %}