{% extends 'base.html.twig' %}

{% block title %}
Commande
{% endblock %}

{% block body %}

<div class="row">

        {# si l'utilisateur n'a pas encore d'adresse #}

        {# formulaire d'adresse #}
<div class="col">
        <h1>Adresse de facturation</h1>
          {{form(formInfo)}}       
</div>
<div class="col">
        <h1>Adresse de livraison</h1>
        {{form(formFacture)}}
</div>


</div>


<a href="{{ path('paiement')}}"<button type="button" class="btn btn-primary btn-lg">Suivant</button></a>



{% endblock %}