{% extends 'base.html.twig' %}
{% block title %}Méthode de livraison {% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="{{ asset("assets/css/paiement.css") }}">

{% endblock %}

{% block body %}
<h1>Méthode de livraison</h1>



{% for ModeLivraison in ModeLivraison %}

<a  href="{{ path('livraison',{'choice' : ModeLivraison.id}) }}"><img src="../../../{{ ModeLivraison.image }}" alt=""></a>

{% endfor %}


{% endblock %}
