{% extends 'base.html.twig' %}
{% block title %}Méthode de livraison {% endblock %}

{% block body %}
<h1>Méthode de livraison</h1>

{% for ModeLivraison in ModeLivraison %}

<a href="{{ path('checkout') }}"<h1>{{ ModeLivraison.title }}</h1></a>

{% endfor %}

<a href="{{ path('checkout')}}"> Suivant</a>

{% endblock %}
