{% extends 'base.html.twig' %}
{% block title %}Méthode paiement {% endblock %}

{% block body %}
<h1>Méthode de paiement</h1>

{% for ModePaiement in ModePaiement %}

<a href="{{ path('livraison') }}"<h3>{{ ModePaiement.libelle }}</h3></a>

{% endfor %}



{% endblock %}
