{% extends 'base.html.twig' %}
{% block title %} MassCrab {% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset("assets/css/home.css") }}">

{% endblock %}
{% block body %}


<h1> Bienvenue, MassCrab est un site E-commerce réalisé par <a href="http://www.tadiotto.fr" target="_blank">Tadiotto Antoine</a> avec symfony4 pour le projet personnalisé 3</h1>  
  
  <div class="row">

</div>  
{% endblock %}