{% extends 'base.html.twig' %}

{% block title %}Nos marques{% endblock %}

{% block body %}

<h1>Les marques</h1>

<section class="marques">

<div class="row">

{% for marque in marques %}

    <div class="col-6 col-md-4">
        <div class="card mb-3">
            <h3 class="card-header">{{ marque.nom }}</h3>
           
            <img style="height: 400px; width: 100%; display: block;.img-fluid. max-width: 100%;" src="{{ marque.image }}" alt="Card image">

            <div class="card-body">
                <a href="{{ path('select_marque', {'id': marque.id }) }}"> Voir </a>
            </div>
        </div>
    </div>

{% endfor %}
    
</div>


</section>

{% endblock %}