


{% block body %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/PdfController.php'|file_link(0) }}">src/Controller/PdfController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/pdf/index.html.twig'|file_link(0) }}">templates/pdf/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
